.house_table{
    position: absolute;
    text-align: center;
    left: 50%;
    width: 1000px;
    max-width: 1000px;
    margin-left: -500px;

    .request_house{
        float: right;
        margin: 5px;
        color: whitesmoke;
        font-size: 15px;
        background-color: grey;
        border-radius: 3px;
    }
    .dataTable{
        tr.even.active{
            background-color: rgb(151, 151, 151);
            td.sorting_1{
                background-color: rgb(151, 151, 151);
            }
        }
        tr.odd.active{
            background-color: rgb(151, 151, 151);
            td.sorting_1{
                background-color: rgb(151, 151, 151);
            }
        }
    }
}

