@import "../fontawesome/font_awesome.scss";
@import "./navbar.scss";
@import "./table.scss";
@import "./login.scss";
@import "./unit.scss";
@import "./house.scss";

body{
    font-family: Roboto;
    background-color: rgb(49, 49, 49);
    color: whitesmoke !important;
    display: grid;
    grid-template:
        "navbar" 100px
        "content" 1fr
        "footer" 200px
}

content-body{
    margin-top: 50px;
    grid-area: content;
}

.home-text{
    text-align: center;
    font-size: 30px;
    a{
        color: rgb(20, 20, 161);
    }
}