nav-bar{
    grid-area: navbar;
    display: grid;
    color: rgb(219, 219, 219);
    grid-template:
        "title options user"
        /1fr   5fr     1fr
    ;
    background-color: rgb(117, 16, 16);
    max-height: 100px;
}

bar-title {
    
    margin-top: 25px;
    text-align: center;
    min-width: 260px;
    a {
        grid-area: title;
        font-size: 250%;

        color: white;
        text-decoration: none;
    }
}

bar-options{
    grid-area: options;
    min-width: 500px;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    min-width: 160px;
    height: 100%;
}

.bar-element{
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    min-width: 160px;
    height: 100%;
    a{
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
}
.bar-element:hover{
    background-color: #9c4949;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2c2c2c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    a{
        text-decoration: none;
        color: whitesmoke;
    }
    a:hover{
        background-color: rgb(59, 15, 15);
    }
}

.dropdown:hover {
    .dropdown-content {
        display: block;
    }
}

bar-user{
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    a{
        text-decoration: none;
        color: whitesmoke;
    }    
}

bar-user:hover{
    background-color: rgb(95, 26, 26);
}

bar-user{

    .dropdown{
        margin-top: -30px;
    }
    .dropdown:hover{
        background-color: rgb(95, 26, 26);;
    }
}